<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prototype</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
    <div id='app'>
    <nav class="navbar navbar-expand-lg border-bottom justify-content-between sticky-top" style='background-color: rgba(255, 255, 255, 0.863);' id='menu'>
        <div><a href="index.html" 
            class="btn btn-sm btn-outline-secondary rounded-0 ">Previous</a>
       </div>
        <div class='h2'>Metadata Element Creation</div>
        <div><a href="index2.html" 
             class="btn btn-sm btn-primary rounded-0 ">Submit</a>
        </div>
        
    </nav>
    
        <div class='row w-100' id='data'>
            <div class="col-md-4 bg-white mt-2 border-right">
                <nav class="p-2 d-flex justify-content-end" >
                    <ul class="pagination" >                    
                        
                        <li class="page-item" v-for="page in pages" :class='{active:currentpage===page-1}'>
                            <a class="page-link" href="#" @click.prevent='pageChange(page)'>{{page}}</a>
                        </li>
                    </ul>
                </nav>
                <form action="" class="p-2">
                    <div class="form-group">
                        <label for="">Place</label>
                        <input v-model='place' type="text" class="form-control" id='Place' autocomplete="off" @focus="time_in('place')" @blur="time_out('place')">
                    </div>
                    <div class="form-group">
                        <label for="">Altername for place</label>
                        <input v-model='Altername' type="text" class="form-control" id='Altername' autocomplete="off" @focus="time_in('altername')" @blur="time_out('altername')">
                    </div>
                    <div class="form-group">
                        <label for="">Category</label>
                        <input v-model='Category' type="text" class="form-control" id='Category' autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="">Description</label>
                        <input v-model='Description' type="text" class="form-control" id='Description' autocomplete="off" >
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-6 ">
                            <label for="" >Start time</label>
                            <input v-model='StartTime' type="date" class="form-control" id='StartTime'></input>
                        </div>
                        <div class="col-lg-6 ">
                        <label for="" >End time</label>
                        <input v-model='EndTime' type="date" class="form-control" id='EndTime'></input>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-8 no-gutters p-0">
                <iframe class="w-100 h-100" :src="sourcedata[currentpage]"
                frameborder="0"
                ></iframe>
                    <!-- https://nation.maps.arcgis.com/apps/Cascade/index.html?appid=a9d345446d1a48a2918ff95b51f5841c -->
            <!-- </div> -->
        </div>
            
        </div>
    </div>
</body>

</html>