<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prototype</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js"></script>

</head>
<body>
    <div id='app'>
        <div id='menu'>
            <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
                <a class="navbar-brand col-sm-3 col-md-2 mr-0 disabled"  href="#">Map Metadata</a> 
                <nav class="d-flex justify-content-end">
                    <ul class="pagination mb-0" >                                 
                        <li class="page-item">
                            <a class="page-link" href="#" @click.prevent.prevent="pageChange('pre')" v-if='currentpage!=0'>Pre</a>
                        </li>
                        <li class="page-item" v-for="page in sourcedata.length" :page='page':class='{active:currentpage===page-1}' v-if="page<=2">
                            <span class="custom-link" >{{page}}</span>
                        </li>
                        <span class="custom-link" href="#">...</span>
                        <li class="page-item" v-for="page in sourcedata.length" :page='page':class='{active:currentpage===page-1}' v-if="page>2 && currentpage===page-1">
                            <span class="custom-link" >{{page}}</span>
                        </li>
                        <li class="page-item" :class='{active:currentpage===sourcedata.length}'>
                          <span class="custom-link">{{sourcedata.length}}</span>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" @click.prevent.prevent="pageChange('next')" v-if='currentpage!=sourcedata.length-1'>Next</a>
                        </li>
                    </ul>
                  </nav>
                <ul class="navbar-nav px-3">
                  <li class="nav-item text-nowrap">
                    <button class="btn btn-sm btn-outline-light" @click='cancel'>Discard</button>
                    <button class="btn btn-sm btn-outline-warning" @click='submit'>Submit</button>
                  </li>
                </ul>
              </nav>
        </div>
        <div class="contentarea">
            <type-element v-for='(item,index) in sourcedata' :element="item" :key='index'v-if ='index==currentpage'
            v-on:timelistener='timeresult' 
            ></type-element>  </div>
    </div>
    <script type='type/x-template' id='typeElement'>
        <div class='row w-100'> 
            <div class="col-md-4 bg-white mt-2 border-right">
                <form action="" class="p-2">
                    <div class="form-group">
                        <label for="">Place</label>
                        <input v-model='element.place'  type="text" class="form-control" id='Place' autocomplete="off" @focus="time_in('place')" @blur="time_out('place')" required>
                    </div>
                    <div class="form-group">
                        <label for="">Altername for place</label>
                        <input v-model='element.Altername' type="text" class="form-control" id='Altername' autocomplete="off" @focus="time_in('Altername')" @blur="time_out('Altername')">
                    </div>
                    <div class="form-group">
                        <label for="">Category</label>
                        <input v-model='element.Category' type="text" class="form-control" id='Category' autocomplete="off" @focus="time_in('Category')" @blur="time_out('Category')">
                    </div>
                    <div class="form-group">
                        <label for="">Description</label>
                        <input v-model='element.Description' type="text" class="form-control" id='Description' autocomplete="off" @focus="time_in('Description')" @blur="time_out('Description')">
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-6 ">
                            <label for="" >Start time</label>
                            <input v-model='element.StartTime' type="date" class="form-control" id='StartTime' @focus="time_in('StartTime')" @blur="time_out('StartTime')"></input>
                        </div>
                        <div class="col-lg-6 ">
                        <label for="" >End time</label>
                        <input v-model='element.EndTime' type="date" class="form-control" id='EndTime' @focus="time_in('EndTime')" @blur="time_out('EndTime')"></input>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-8 no-gutters p-0">
                <iframe class="w-100 h-100" :src="link(element)"
                frameborder="0"
                ></iframe>
        </div>
    </div>
</div>
            
    </script>
</body>

</html>